app/.streamlit/secrets.toml
app/.streamlit/config.toml
.idea/
.DS_Store
__pycache__/
data/
venv/

tools.yaml
# How to check all the files that will be ignored
# find . -not -path './.git/*' | git check-ignore --stdin -v