# .streamlit/secrets.toml

#Options - local, production
[deploy_location]
location = "local"

[connections.local]
url = "mysql://root:toor@mysql:3306/local_db"

[connections.users_db]
dialect = "mysql"
host = "CHANGE_HOST_HERE!"
port = "3306"
database = "CHANGE_DATABASE_HERE!"
username = "CHANGE_USERNAME_HERE!"
password = "CHANGE_PASSWORD_HERE!"

[cookie]
expiry_days = 20    # CHANGE-EXPIRY-DAYS
key = "CHANGE-KEY"
name = "CHANGE-NAME"
